$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;


* {
  all: unset;
}

window {
  font-family: "Noto Sans Serif CJK";
  font-size: 14px;
}

box {
  padding: 0;
  margin: 0;
}

.barw {
  margin: 16px 0;
  padding: 0 4px;
}

.widget {
  background-color: $crust;
  padding: 4px 16px;
  border-radius: 12px;
}

.icon {
  margin: 0 8px;
  font-size: 18px;
  //color: $text;
}

.ram { color: $red }
.battery { color: $teal }
.volume { color: $pink }
.wlan { color: $green }

.sidestuff-item {
  //margin: 0 12px;
  margin-left: 8px;
}
